:root {
  --primary: #007bff;
  --primary-hover: #0056b3;
  --secondary: #94a1ac;
  --background: Rgb(171, 252, 255);
  --tableBackground: #d0e4ff;
  --tablePrimary: #5881f1;
  --vacationColor: rgb(218, 150, 148) ;
  --personalLeaveColor: rgb(83, 141, 213) ;
  --sickDaysColor: rgb(196, 215, 155) ;
  --workingRemotelyColor:rgb(255, 229, 153) ;
  --slavaColor: rgb(103, 78, 167) ;
}

